# Zillow Clustering Porject

### Executive Summary

Goals: Build a new regression model to predict logerror (log(Zestimate) - log(SalePrice)), and use clustering to see if we can find groups of similar observations to generate new features to be fed into our supervised model.

In [1]:
#imports
import os
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression, LassoLars, TweedieRegressor
from sklearn.feature_selection import SelectKBest, f_regression, RFE
import statsmodels.api as sm
from sklearn.metrics import explained_variance_score

import wrangle as w
import explore as e
import model as m

In [2]:
#get our data, turn into .csv, and check shape
df = w.get_zillow_data()
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14297519,1727539,NaN,...,6.059063e+13,0.025595,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,NaN,NaN,261.0,NaN,NaN,NaN,NaN,17052889,1387261,NaN,...,6.111001e+13,0.055619,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,NaN,NaN,261.0,NaN,NaN,NaN,NaN,14186244,11677,NaN,...,6.059022e+13,0.005383,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,12177905,2288172,NaN,...,6.037300e+13,-0.103410,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,NaN,NaN,266.0,2.0,NaN,NaN,1.0,10887214,1970746,NaN,...,6.037124e+13,0.006940,2017-01-01,Central,None,None,Central,Condominium,None,None

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77575 entries, 0 to 77574
Data columns (total 68 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        222 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77575 non-null  float64
 3   heatingorsystemtypeid         49570 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      206 non-null    float64
 6   airconditioningtypeid         25006 non-null  float64
 7   parcelid                      77575 non-null  int64
 8   id                            77575 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77575 non-null  float64
 11  bedroomcnt                    77575 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76960 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6035 non-null   float64
 16  calculatedfinishedsquarefeet  77375 non-null  float64
 17  finishedsquarefeet12          73920 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6035 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77575 non-null  float64
 23  fireplacecnt                  8287 non-null   float64
 24  fullbathcnt                   76960 non-null  float64
 25  garagecarcnt                  25517 non-null  float64
 26  garagetotalsqft               25517 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77575 non-null  float64
 29  longitude                     77575 non-null  float64
 30  lotsizesquarefeet             69318 non-null  float64
 31  poolcnt                       16173 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15078 non-null  float64
 36  propertycountylandusecode     77575 non-null  object
 37  propertyzoningdesc            50475 non-null  object
 38  rawcensustractandblock        77575 non-null  float64
 39  regionidcity                  76103 non-null  float64
 40  regionidcounty                77575 non-null  float64
 41  regionidneighborhood          30973 non-null  float64
 42  regionidzip                   77525 non-null  float64
 43  roomcnt                       77575 non-null  float64
 44  threequarterbathnbr           10105 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77306 non-null  float64
 49  numberofstories               17596 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77460 non-null  float64
 52  taxvaluedollarcnt             77574 non-null  float64
 53  assessmentyear                77575 non-null  float64
 54  landtaxvaluedollarcnt         77573 non-null  float64
 55  taxamount                     77570 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77328 non-null  float64
 59  logerror                      77575 non-null  float64
 60  transactiondate               77575 non-null  object
 61  airconditioningdesc           25006 non-null  object
 62  architecturalstyledesc        206 non-null    object
 63  buildingclassdesc             15 non-null     object
 64  heatingorsystemdesc           49570 non-null  object
 65  propertylandusedesc           77575 non-null  object
 66  storydesc                     50 non-null     object
 67  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(2), object(11)
memory usage: 40.2+ MB

Takeaways:

Lots of missing values
Some columns have inaccurate content?
Let's just clean it up for now, and we'll decide what we want to explore on later


Prepare our data for mostly-ready use. We're going to rename columns, make dummies, create new features, drop outliers, and drop columns and rows with more than 50% missing values.